{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{% static 'style.css'%}" type="text/css" />
  </head>
  <body>
    <form method ="POST">{% csrf_token %} 
      <input type = 'text' placeholder = 'Enter City' name = 'city'/>
      <button type = 'submit'>Enter</button>
    </form>
    <h1>{{description}}</h1>
    <h1>{{temp}}</h1>
    <h1>{{day}}</h1>
    <h1>{{city}}</h1>
    <img src = "http://openweathermap.org/img/w/{{icon}}.png" width = "100px" />

  </body>
</html>